.trackItem {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  color: var(--color-ink);
  gap: var(--space-sm);
  padding-inline: var(--space-sm);
  padding-block: var(--space-sm);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--color-primary);
  background-color: inherit;
  text-align: left;
  cursor: pointer;
}

.trackItem:hover {
  background-color: var(--color-primary);
}

.track_image {
  flex: 0 0 20%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.track_image img {
  width: 100%;
}

.textWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-xs);
}

.iconWrapper {
  flex: 0 0 var(--icon-lg);
  height: var(--icon-lg);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  aspect-ratio: 1 / 1;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconWrapper > svg {
  width: 60%;
}