.button {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  align-items: center;
  border-radius: 100vw;
  border: 1px solid currentColor;
  background-color: transparent;
  outline: none;
  color: currentColor;
  padding: var(--space-xs) var(--space-md);
  cursor: pointer;
  transition: background-color var(--transition-short);
  text-decoration: none;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-ink);
}

.button svg {
  width: var(--icon-md);
  height: var(--icon-md);
}