.hero {
  min-height: 95dvh;
  background-color: var(--color-tertiary);
  position: relative;
  padding: var(--space-lg);
  color: var(--color-reverse);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.hero_text {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.hero_text > svg {
  width: 100%;
}