.hero {
  min-height: 90svh;
  background-color: var(--color-tertiary);
  position: relative;
  padding: var(--space-lg);
  color: var(--color-reverse);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-md);
}

.hero_text {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: var(--space-sm);
}

.hero_text > svg {
  width: 100%;
}