.video {
  aspect-ratio: 1 / 1;
  max-width: 100%;
  /* max-width: 100vw;
  max-height: 80lvh; */
  /* width: auto;
  height: auto; */
  height: 80vh;
  width: auto;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 0;
}