.preloader {
  position: fixed;
  width: 100vw;
  height: 100lvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-ink);
  color: var(--color-primary);
  text-align: center;
}