.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-lg);
  background-color: var(--color-tertiary);
  color: var(--color-reverse);
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footerTitle {
  color: var(--color-primary);
}