* {
  box-sizing: border-box;
}

:root {
  --color-primary: #786c50;
  --color-reverse: #ffffff;
  --color-ink: #000000;

  --space-xxs: 5px;
  --space-xs: 10px;
  --space-s: 15px;
  --space-m: 20px;
  --space-l: 30px;
  --space-xl: 40px;
  --space-xxl: 60px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
}