.albumItem {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  gap: var(--space-sm);
  flex: 0 0 40%;
}

.albumText {
  display: flex;
  flex-direction: row;
  gap: var(--space-xs);
  text-align: left;
  white-space: nowrap;
}

.albumTitle {
  color: var(--color-reverse);
}

.albumImageWrapper {
  border: 2px solid var(--color-primary);
  border-radius: var(--border-sm);
  overflow: hidden;
  width: 100%;
}

.albumImage {
  width: 100%;
  scale: 1.0;
  filter: grayscale(0.0);
  transition: scale var(--transition-long), filter var(--transition-long);
}

.albumImageWrapper:hover .albumImage {
  scale: 1.1;
  filter: grayscale(1.0);
}

